article {
  display: block;
  border: 2px dashed grey;
  margin: 0px 360px;
  padding-top: 10px;
}

.square {
  width: 150px;
  height: 150px;
  border: 2px solid red;
  margin: 30px;
}

p {
border: 2px solid green;
margin: 30px;
margin-right: 250px;
padding: 30px 26px;
text-align: justify;
}