p {
  color: blue;
  font-size: 20px;
  position: relative;
}

p::first-line {
line-height: 30px;
}

p::before {
  color: violet;
  content: '＂';
}

p::after {
  color: violet;
  content: '＂';
}

/*Unicode - особливі символи*/